*{
    margin: 0;
    padding: 0;
}

h2{
    text-transform: uppercase;
    font-size: 70;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/img3.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ed872d;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

.navbar ul li{
    list-style: none;
    display: inline;
    margin: 20px;
    position: relative;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ed872d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.container h1{
    font-size: 70px;
    margin-top: 80px;
}

.container p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 20px;
}

button{
    width: 200px;
    padding: 15px;
    margin: 20px 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ed872d;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

span{
    background: #ed872d;
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 00.5s;
}

button:hover span{
    width: 100%;
}

.container button:hover{
    border: none;
}

.products{
    margin: 80px 30px;
    text-align: center;
}


.catalog{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px 0;
    margin: 15px;
    margin-bottom: 30px;

}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card h3{
    margin-top: 10px;
    text-transform: uppercase;
}

.color{
    background-color: #ed872d;
    text-align: center;
    padding: 30px;
}

.about{
    background-color: #ed872d;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    margin-right: 50px;
    font-size: 20px;
    color: #fff;
}

.text h2{
    margin-bottom: 30px;
}


.form{
    margin-left: 60px;
    width: 340px;
    height: 440px;
    padding: 30px 30px;
    background-color: #fff;
    border-radius:8px;
    box-sizing: border-box;
    box-shadow:0 0 40px -10px #000;
}

.form h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}

label{
    color: #ed872d;
}

.form input{
    width:100%;
    padding:10px;
    padding-block: 15px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

.form input:focus{
    border-bottom:2px solid #78788c
}

#newbutton{
    text-align: center;
    color: #fff;
    background: #ed872d;
}

footer{
    padding: 20px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin-left: 30px;
}

.links ul li{
    list-style: none;
    display: inline;
    margin: 20px;
}

.links ul li a{
    color: #ed872d;
    text-decoration: none;
    text-transform: uppercase;
}

.credits{
    text-align: center;
    margin-right: 30px;
}